*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
}
h1,h2,h3,h4,h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
h1{
	font-size: 70px;
}
h2{
	font-size: 59px;
	color: #121933;
	text-transform: uppercase;
}

h3{
	font-size: 42px;
	color: #121933;
	text-transform: uppercase;
}
h5{
	font-size: 18px;
	font-weight: 599;
}
p{
	font-family: 'Roboto Condensed', sans-serif;
	color: #7f8183;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
}
ul li{
	list-style: none;
}
/*Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

 /*Back to top */
.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 105px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
#header {
	position: relative;
}
.logo{
	cursor: pointer;
}
.header-top{
	margin-top: 25px;
	margin-bottom: 10px;
	z-index: 5;
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.headcont{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	position: relative;
	padding-left: 40px;
	color: white;
}
.headcont a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.headcont img{
	width:40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 5px;
}
.navbar {
	position: absolute;
	z-index: 5;
	top: 95px;
	width: 100%;
}
.nav-wrapper{
	width: 100%;
	background: white;
	position: relative;
}
.navbar-brand{
	display: none;
}
.navbar-toggler .fa{
	color: #fff;

}
.navbar-light .navbar-nav .active > .nav-link{
	color: #1fc058;
	margin-left: 30px;
	text-align: 
}
.navbar-light .navbar-nav .nav-link{
	font-family: 'Roboto Condensed', sans-serif;
	color: #121933;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 25px 20px;
}
.my-btn a{
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	background-color: #1fc058;
	color: white !important;
	z-index: 1;
	padding: 24px 57px;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	border-radius: 3px;
	display: block;
	transition: 0.3s;
}
.my-btn a:before{
	content: "";
	display: block;
	width: 30px;
	height: 100%;
	background-color: #1fc058;
	position: absolute;
	left: -13px;
	top: 0;
	transform: skew(-19deg);
	z-index: -1;
	transition: 0.3s;
}
.my-btn a:hover{
	color: #000c38 !important;
	background: #1fc058;
}
.my-btn a:hover:before{
	background: #1fc058;
}
.fixed-me{
	background: #ffffff;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	border-bottom: 1px solid #1333;
	transition: all 0.3s;
}
.banner{
	background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/Banner.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	width: 100%;
	padding-bottom: 335px;

}
.hero-text{
	margin-top: 370px;
	text-align: center;
	color: white;
}
.hero-text h4{
	color: #1fc058;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.hero-text h1{
	padding-bottom: 15px;
	text-transform: uppercase;
}
.hero-text p{
	color: white;
	font-size: 15px;
	line-height: 1.8;
	margin-bottom: 59px;
}
.hero-btn{
	background: blue;
	font-size: 18px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 599;
	margin: 8px;
	padding: 15px 45px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
}
.hero-btn:hover{
	text-decoration: none;
	color: white;
}
.btn1 {
	background: white;
	color: #000c38
}
.btn1:hover{
	background: #1fc058;
	color: #000c38;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
#block{
	padding-bottom: 30px;
	display: block;
}
.block-one{
	background: #f7f7f7;
	padding: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: -125px;
	overflow: hidden;
}

.block-one .fa{
	color: #333;
}
.block-one h4{
	text-transform: uppercase;
	color: #121933;
	padding-top: 22px;
	padding-bottom: 10px;
}
.block-one p{
	padding-bottom: 10px;
}
.block-one:hover{
	background: #1fc058;
	color: white;
	transition: 0.4s ease-in-out;
}
.block-one:hover p{
	color: white;
	transition: 0.4s ease-in-out;
}
.block-one:hover h4{
	color: #fff;
	transition: 0.4s ease-in-out;
}
.block-one:hover i{
	color: #fff;
	transition: 0.4s ease-in-out;
}

#testimonial {
	padding-top: 59px;
	padding-bottom: 0px;
}
.testimonial-title{
	padding-bottom: 59px;
}
.client{
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	padding: 30px;
	cursor: pointer;
	display: flex;
}
.client img{
	width: 150px;
	height: 150px;
	display: block;
}
.client-inform{
	padding-top: 15px;
	padding-left: 35px;
}
.client-inform h4>span{
	font-family: tahoma;
	font-size: 14px;
	font-weight: 400;
	color: #7f8183;
	text-transform: capitalize;
}
.client:after{
	content: "";
	display: block;
	border-top: 3px solid #3f1414;
	width: 180px;
	position: absolute;
	top: 0;
	left: 30px;
}
.owl-carousel .owl-item img {
    width: 150px;
}


#blog{
	padding-top: 140px;
	padding-bottom: 70px;
}

.fix-blog{
	border: 1px solid #e03ce7;
	padding: 25px;
}
.blog-title h3{
	padding-bottom: 59px;
}
.blog-content{
	padding-top: 20px;
	padding-bottom: 20px;
}
.blog-content a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
}
.blog-content a i{
	color: #ef1414;
	padding-right: 1px;
}
.blog-content a i:hover{
	text-decoration: none;
	color: #ef1414;
}
.blog-content a{
	padding-right: 1px;
	color: #ef1414;
}
.blog-content a:hover{
	text-decoration: none;
	color: #ef1414;
}
.blog-photo img{
	max-width: 100%;
}
.blog-photo .read-btn{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #ef1414;
	text-transform: uppercase;
	margin-top: 25px;
	display: block;
	padding-bottom: 10px;
	position: relative;
	text-decoration: none;
}

.blog-photo .read-btn:after{
	content: "";
	display: block;
	border-bottom: 3px solid #ef1414;
	position: absolute;
	width: 40px;
	top: 13px;
	left: 120px;
}
.blog-photo .read-btn:hover{
	color: #0003c8;
}
#commit {
	background: #1fc058;
	padding-top: 70px;
}
.commit-title h3{
	color: white;
}
.commit-title p{
	color: white;
	padding-top: 8px;
	padding-bottom: 50px;
}
.inform p{
	color: white;
	line-height: 0;
	padding-top: 15px;
	padding-bottom: 5px;
}
.contact-btn{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: white !important;
	color: #121933;
	padding: 15px 50px;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: right;
	display: inline-block;
}
.contact-btn:hover{
	text-decoration: none !important;
	background: #121933;
	color: #ef1414;
	transition-timing-function: 0.5s;
}
#footer {
	background: #090b12;
	padding-top: 22px;
	padding-bottom: 12px;
}
.footer-content a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #ef1414;
}
#contact {
	background: #01040f;
	padding-top: 128px;
	padding-bottom: 109px;
}
.logo-detail p{
	padding-top:45px;
}
.service-link h4{
	color: white;
	padding-bottom: 20px;
}
.service-link ul li a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #7f8183;
	display: block;
	transition: 0.3s;
	padding: 5px 0px;
}
.